{% include "header.html" %}
    <div class="container mx-auto px-4 text-center">
        <h1 class="text-3xl font-bold underline">
            About {{ APP_NAME }}
        </h1>
        <p class="mt-4">
            {{ APP_NAME }} is powered by AMRSystem.<br />
            AMRSystem is an open-source project created by fourteentrees to enable relatively painless
            <br />song requests and ad crawls for IP television systems, and online streams.<br />
            To see the source, visit the <a class="text-blue-500 underline" href="https://github.com/fourteentrees/AMRSystem/tree/main">GitHub repository</a>.<br />
        </p>
    </div>