<div class="navbar bg-base-100 shadow-sm">
  <div class="flex-1">
    <a class="btn btn-ghost text-xl" href="{% url 'home' %}">{{ APP_NAME }}</a>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      <li><a href="{% url 'about' %}">About {{ APP_NAME }}</a></li>
      <li><a href="{% url 'request_song' %}">Request a Song</a></li>
      {% if not HIDE_ADMIN_IN_NAVBAR %}
        <li><a href="{% url 'admin:index' %}">Administration</a></li>
      {% endif %}
    </ul>
  </div>
</div>